<!-- FontAwesome 6.2.0 CSS -->
<link rel="stylesheet" href="${1:https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css}"
    integrity="${2:sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==}"
    crossorigin="anonymous" referrerpolicy="no-referrer" />

<!-- (Optional) Use CSS or JS implementation -->
<script src="${3:https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/js/all.min.js}"
    integrity="${4:sha512-naukR7I+Nk6gp7p5TMA4ycgfxaZBJ7MO5iC3Fp6ySQyKFHOGfpkSZkYVWV5R7u7cfAicxanwYQ5D1e17EfJcMA==}"
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>