<div class="row">
  <div class="${1|col-4,col-sm-4,col-md-4,col-lg-4,col-xl-4,col-xxl-4|}$2">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">${3:Title}</h3>
        <p class="card-text">${4:Text}</p>
      </div>
    </div>
  </div>
  <div class="${5|col-4,col-sm-4,col-md-4,col-lg-4,col-xl-4,col-xxl-4|}$6">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">${7:Title}</h3>
        <p class="card-text">${8:Text}</p>
      </div>
    </div>
  </div>
</div>