<div class="card" aria-hidden="true">
	<img class="card-img-top" src="${1:holder.js/100x180/}" alt="$2">
	<div class="card-body">
		<h5 class="card-title placeholder-glow">
			<span class="placeholder col-6">${3:Some text}</span>
		</h5>
		<p class="card-text placeholder-glow">
			<span class="placeholder col-7">${4:Some text}</span>
			<span class="placeholder col-4">${5:Some text}</span>
			<span class="placeholder col-4">${6:Some text}</span>
			<span class="placeholder col-6">${7:Some text}</span>
			<span class="placeholder col-8">${8:Some text}</span>
		</p>
		<a href="#" tabindex="-1" class="btn btn-primary disabled placeholder col-6">${9:Some text}</a>
	</div>
</div>