<div class="card text-center">
  <div class="card-header">
    <ul class="nav ${1|nav-tabs,nav-pills,nav-pills nav-fill,nav-pills nav-justified|} card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active" aria-current="true" href="${3:#}">${2:Active tab}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="${5:#}">${4:Tab}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="${7:#}" tabindex="-1" aria-disabled="true">${6:Disabled tab}</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <h4 class="card-title">${8:Title}</h4>
    <p class="card-text">${9:Body}</p>
  </div>
</div>