<nav class="nav justify-content-center fixed-top">
    <a class="nav-link text-dark" href="#${2:div1}">${1:Div 1}</a>
    <a class="nav-link text-dark" href="#${4:div2}">${3:Div 2}</a>
    <a class="nav-link text-dark" href="#${6:div3}">${5:Div 3}</a>
</nav>
<div>
    <div>
        <div id="${2:div1}" class="bg-primary" style="height:100vh">${2:div1}</div>
        <div id="${4:div2}" class="bg-success" style="height:100vh">${4:div2}</div>
        <div id="${6:div3}" class="bg-light" style="height:100vh">${6:div3}</div>
    </div>
</div>