<div class="btn-group" role="group" data-bs-toggle="buttons">
	<label
		class="btn ${1|btn-primary,btn-secondary,btn-success,btn-danger,btn-warning,btn-info,btn-light,btn-dark,btn-link|} active"
	>
		<input
			type="checkbox"
			class="me-2"
			name="$3"
			id="$3"
			checked
			autocomplete="off"
		/>
		${2:Choice}
	</label>
	<label
		class="btn ${1|btn-primary,btn-secondary,btn-success,btn-danger,btn-warning,btn-info,btn-light,btn-dark,btn-link|}"
	>
		<input
			type="checkbox"
			class="me-2"
			name="$5"
			id="$5"
			autocomplete="off"
		/>
		${4:Choice}
	</label>
	<label
		class="btn ${1|btn-primary,btn-secondary,btn-success,btn-danger,btn-warning,btn-info,btn-light,btn-dark,btn-link|}"
	>
		<input
			type="checkbox"
			class="me-2"
			name="$7"
			id="$7"
			autocomplete="off"
		/>
		${6:Choice}
	</label>
</div>
