<div class="btn-group" data-bs-toggle="buttons">
	<label class="btn ${1|btn-primary,btn-secondary,btn-success,btn-danger,btn-warning,btn-info,btn-light,btn-dark,btn-link|} active">
		<input type="radio" class="me-2" name="$2" id="$2" autocomplete="off" checked> ${3:Choice}
	</label>
	<label class="btn ${1|btn-primary,btn-secondary,btn-success,btn-danger,btn-warning,btn-info,btn-light,btn-dark,btn-link|}">
		<input type="radio" name="$2" id="$2" autocomplete="off"> ${4:Choice}
	</label>
	<label class="btn ${1|btn-primary,btn-secondary,btn-success,btn-danger,btn-warning,btn-info,btn-light,btn-dark,btn-link|}">
		<input type="radio" name="$2" id="$2" autocomplete="off"> ${5:Choice}
	</label>
</div>