<div class="btn-group" role="group" aria-label="${1:Basic checkbox toggle button group}">
  <input type="checkbox" class="btn-check" id="${3:btncheck1}" autocomplete="off">
  <label class="btn btn-outline-${4:primary|secondary|success|danger|warning|info|light|dark}" for="${3:btncheck1}">$2</label>

  <input type="checkbox" class="btn-check" id="${6:btncheck2}" autocomplete="off">
  <label class="btn btn-outline-${7:primary|secondary|success|danger|warning|info|light|dark}" for="${6:btncheck2}">$5</label>

  <input type="checkbox" class="btn-check" id="${9:btncheck3}" autocomplete="off">
  <label class="btn btn-outline-${9:primary|secondary|success|danger|warning|info|light|dark}" for="${9:btncheck3}">$8</label>
</div>