<div class="btn-group" role="group" aria-label="${1:Basic checkbox toggle button group}">
  <input type="checkbox" class="btn-check" id="${3:btncheck1}" autocomplete="off">
  <label
    class="btn ${4|btn-outline-primary,btn-outline-secondary,btn-outline-success,btn-outline-danger,btn-outline-warning,btn-outline-info,btn-outline-light,btn-outline-dark,btn-outline-link|}"
    for="${3:btncheck1}">${2:First One}</label>

  <input type="checkbox" class="btn-check" id="${6:btncheck2}" autocomplete="off">
  <label
    class="btn ${7|btn-outline-primary,btn-outline-secondary,btn-outline-success,btn-outline-danger,btn-outline-warning,btn-outline-info,btn-outline-light,btn-outline-dark,btn-outline-link|}"
    for="${6:btncheck2}">${5:Second One}</label>

  <input type="checkbox" class="btn-check" id="${9:btncheck3}" autocomplete="off">
  <label
    class="btn ${9|btn-outline-primary,btn-outline-secondary,btn-outline-success,btn-outline-danger,btn-outline-warning,btn-outline-info,btn-outline-light,btn-outline-dark,btn-outline-link|}"
    for="${9:btncheck3}">${8:Third One}</label>
</div>
