<div class="btn-group" role="group" aria-label="${1:Button group name}">
	<button
		type="button"
		class="btn ${2|btn-primary,btn-secondary,btn-success,btn-danger,btn-warning,btn-info,btn-light,btn-dark,btn-link|}"
	>
		${3:First One}
	</button>
	<button
		type="button"
		class="btn ${4|btn-primary,btn-secondary,btn-success,btn-danger,btn-warning,btn-info,btn-light,btn-dark,btn-link|}"
	>
		${5:Second One}
	</button>
	<button
		type="button"
		class="btn ${6|btn-primary,btn-secondary,btn-success,btn-danger,btn-warning,btn-info,btn-light,btn-dark,btn-link|}"
	>
		${7:Third One}
	</button>
</div>
