<div class="btn-group" role="group" aria-label="$2">
	<button type="button" class="btn ${1|btn-primary,btn-secondary,btn-success,btn-danger,btn-warning,btn-info,btn-light,btn-dark,btn-link|}">${3:First One}</button>
	<button type="button" class="btn ${1|btn-primary,btn-secondary,btn-success,btn-danger,btn-warning,btn-info,btn-light,btn-dark,btn-link|}">${4:Second One}</button>
	<button type="button" class="btn ${1|btn-primary,btn-secondary,btn-success,btn-danger,btn-warning,btn-info,btn-light,btn-dark,btn-link|}">${5:Third One}</button>
</div>