<div
	class="btn-group"
	role="group"
	aria-label="${1:Basic checkbox toggle button group}"
>
	<input
		type="radio"
		class="btn-check"
		name="${3:btnradio}"
		id="${4:btncheck1}"
		autocomplete="off"
	/>
	<label
		class="btn ${5|btn-outline-primary,btn-outline-secondary,btn-outline-success,btn-outline-danger,btn-outline-warning,btn-outline-info,btn-outline-light,btn-outline-dark,btn-outline-link|}"
		for="${4:btncheck1}"
		>${2:First One}</label
	>

	<input
		type="radio"
		class="btn-check"
		name="${3:btnradio}"
		id="${7:btncheck2}"
		autocomplete="off"
	/>
	<label
		class="btn ${8|btn-outline-primary,btn-outline-secondary,btn-outline-success,btn-outline-danger,btn-outline-warning,btn-outline-info,btn-outline-light,btn-outline-dark,btn-outline-link|}"
		for="${7:btncheck2}"
		>${6:Second One}</label
	>

	<input
		type="radio"
		class="btn-check"
		name="${3:btnradio}"
		id="${10:btncheck3}"
		autocomplete="off"
	/>
	<label
		class="btn ${9|btn-outline-primary,btn-outline-secondary,btn-outline-success,btn-outline-danger,btn-outline-warning,btn-outline-info,btn-outline-light,btn-outline-dark,btn-outline-link|}"
		for="${10:btncheck3}"
		>${11:Third One}</label
	>
</div>
