<div class="btn-group" role="group" aria-label="${1:Basic checkbox toggle button group}">
  <input type="radio" class="btn-check" name="${3:btnradio}" id="${4:btncheck1}" autocomplete="off">
  <label class="btn btn-outline-${5:primary|secondary|success|danger|warning|info|light|dark}" for="${4:btncheck1}">$2</label>

  <input type="radio" class="btn-check" name="${3:btnradio}" id="${7:btncheck2}" autocomplete="off">
  <label class="btn btn-outline-${8:primary|secondary|success|danger|warning|info|light|dark}" for="${7:btncheck2}">$6</label>

  <input type="radio" class="btn-check" name="${3:btnradio}" id="${10:btncheck3}" autocomplete="off">
  <label class="btn btn-outline-${9:primary|secondary|success|danger|warning|info|light|dark}" for="${10:btncheck3}">$9</label>
</div>