<div class="btn-toolbar" role="toolbar" aria-label="${1:Toolbar}">
	<div class="btn-group" role="group" aria-label="${2:Button Group}">
		<button type="button" class="btn ${3|btn-primary,btn-secondary,btn-success,btn-danger,btn-warning,btn-info,btn-light,btn-dark,btn-link|}">${4:Button}</button>
		<button type="button" class="btn ${3|btn-primary,btn-secondary,btn-success,btn-danger,btn-warning,btn-info,btn-light,btn-dark,btn-link|}">${5:Button}</button>
		<button type="button" class="btn ${3|btn-primary,btn-secondary,btn-success,btn-danger,btn-warning,btn-info,btn-light,btn-dark,btn-link|}">${6:Button}</button>
	</div>
	<div class="btn-group ms-3" role="group" aria-label="$7">
		<button type="button" class="btn ${3|btn-primary,btn-secondary,btn-success,btn-danger,btn-warning,btn-info,btn-light,btn-dark,btn-link|}">${8:Button}</button>
		<button type="button" class="btn ${3|btn-primary,btn-secondary,btn-success,btn-danger,btn-warning,btn-info,btn-light,btn-dark,btn-link|}">${9:Button}</button>
	</div>
</div>