  
  <!-- Button in the end -->
  <div class="input-group mb-3">
	<input type="text" class="form-control" aria-label="${11:Text input with dropdown button}">
	<button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">${6:Dropdown}</button>
	<ul class="dropdown-menu dropdown-menu-end">
	  <li><a class="dropdown-item" href="#">${7:Action}</a></li>
	  <li><a class="dropdown-item" href="#">${8:Another action}</a></li>
	  <li><a class="dropdown-item" href="#">${9:Something else here}</a></li>
	  <li><hr class="dropdown-divider"></li>
	  <li><a class="dropdown-item" href="#">${10:Separated link}</a></li>
	</ul>
  </div>