<!-- Button in the start -->
<div class="input-group mb-3">
	<button
		class="btn btn-outline-secondary dropdown-toggle"
		type="button"
		data-bs-toggle="dropdown"
		aria-expanded="false"
	>
		${1:Dropdown}
	</button>
	<ul class="dropdown-menu">
		<li><a class="dropdown-item" href="#">${2:Action}</a></li>
		<li><a class="dropdown-item" href="#">${3:Another action}</a></li>
		<li><a class="dropdown-item" href="#">${4:Something else here}</a></li>
		<li><hr class="dropdown-divider" /></li>
		<li><a class="dropdown-item" href="#">${5:Separated link}</a></li>
	</ul>
	<input
		type="text"
		class="form-control"
		aria-label="${11:Text input with dropdown button}"
	/>
</div>
