<!-- Button in the end -->
<div class="input-group">
	<input
		type="${2|text,password,email,number,submit,date,datetime,datetime-local,month,color,range,search,tel,time,url,week|}"
		class="form-control"
		aria-label="${12:Text input with segmented dropdown button}"
	/>
	<button type="button" class="btn btn-outline-secondary">
		${1:Dropdown}
	</button>
	<button
		type="button"
		class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split"
		data-bs-toggle="dropdown"
		aria-expanded="false"
	>
		<span class="visually-hidden">${3:Toggle Dropdown}</span>
	</button>
	<ul class="dropdown-menu dropdown-menu-end">
		<li><a class="dropdown-item" href="#">${7:Action}</a></li>
		<li><a class="dropdown-item" href="#">${8:Another action}</a></li>
		<li><a class="dropdown-item" href="#">${9:Something else here}</a></li>
		<li><hr class="dropdown-divider" /></li>
		<li><a class="dropdown-item" href="#">${10:Separated link}</a></li>
	</ul>
</div>
