<!-- radio -->
<div class="input-group my-2">
	<div class="input-group-text">
		<input
			class="form-check-input mt-0"
			type="radio"
			value="$1"
			name="$2"
			aria-label="${3:Radio button for following text input}"
		/>
	</div>
	<input
		type="${5|text,password,email,number,submit,date,datetime,datetime-local,month,color,range,search,tel,time,url,week|}"
		class="form-control"
		aria-label="${4:Text input with radio button}"
	/>
</div>
<div class="input-group my-2">
	<div class="input-group-text">
		<input
			class="form-check-input mt-0"
			type="radio"
			value="$6"
			name="$2"
			aria-label="${7:Radio button for following text input}"
		/>
	</div>
	<input
		type="${9|text,password,email,number,submit,date,datetime,datetime-local,month,color,range,search,tel,time,url,week|}"
		class="form-control"
		aria-label="${8:Text input with radio button}"
	/>
</div>
