<!-- FontAwesome 6.1.1 CSS -->
<link rel="stylesheet" href="${1:https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css}" integrity="${2:sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==}" crossorigin="anonymous" referrerpolicy="no-referrer" />

<!-- (Optional) Use CSS or JS implementation -->
<script src="${3:https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js}" integrity="${4:sha512-6PM0qYu5KExuNcKt5bURAoT6KCThUmHRewN3zUFNaoI6Di7XJPTMoT6K0nsagZKk2OB4L7E3q1uQKHNHd4stIQ==}" crossorigin="anonymous" referrerpolicy="no-referrer"></script>