<!-- FontAwesome 5.15.3 CSS -->
<link rel="stylesheet" href="${1:https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css}" integrity="${2:sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==}" crossorigin="anonymous" referrerpolicy="no-referrer" />

<!-- (Optional) Use CSS or JS implementation -->
<script src="${3:https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js}" integrity="${4:sha512-RXf+QSDCUQs5uwRKaDoXt55jygZZm2V++WUZduaU/Ui/9EGp3f/2KZVahFZBKGH0s774sd3HmrhUy+SgOFQLVQ==}" crossorigin="anonymous" referrerpolicy="no-referrer"></script>