<div class="progress">
	<div
		class="progress-bar"
		role="progressbar"
		style="width: ${4:25}%;"
		aria-valuenow="${4:25}"
		aria-valuemin="${2:0}"
		aria-valuemax="${3:100}"
	>
		${1:Description}
	</div>
	<div
		class="progress-bar bg-success"
		role="progressbar"
		style="width: ${8:30}%;"
		aria-valuenow="${8:30}"
		aria-valuemin="${6:0}"
		aria-valuemax="${7:100}"
	>
		${5:Description}
	</div>
	<div
		class="progress-bar bg-info"
		role="progressbar"
		style="width: ${12:20}%"
		aria-valuenow="${12:20}"
		aria-valuemin="${10:0}"
		aria-valuemax="${11:100}"
	>
		${9:Description}
	</div>
</div>
