<div class="list-group">
	<label class="list-group-item">
	  <input class="form-check-input me-1" type="checkbox" value="">
	  ${1:First checkbox}
	</label>
	<label class="list-group-item">
	  <input class="form-check-input me-1" type="checkbox" value="">
	  ${2:Second checkbox}
	</label>
	<label class="list-group-item">
	  <input class="form-check-input me-1" type="checkbox" value="">
	  ${3:Third checkbox}
	</label>
	<label class="list-group-item">
	  <input class="form-check-input me-1" type="checkbox" value="">
	  ${4:Fourth checkbox}
	</label>
	<label class="list-group-item">
	  <input class="form-check-input me-1" type="checkbox" value="">
	  ${5:Fifth checkbox}
	</label>
  </div>