<ul class="list-unstyled">
    <li class="d-flex">
        <div class="flex-shrink-0">
            <img src="${1:#}" alt="$2" width="$3">
        </div>
        <div class="flex-grow-1 ms-3">
            <h5 class="mt-0">${4:Media heading}</h5>
            <p>${5:This is some content from a media component. You can replace this with any content and adjust it as
                needed.}</p>
        </div>
    </li>
    <li class="d-flex">
        <div class="flex-shrink-0">
            <img src="${6:#}" alt="$7" width="$8">
        </div>
        <div class="flex-grow-1 ms-3">
            <h5 class="mt-0">${9:Media heading}</h5>
            <p>${10:This is some content from a media component. You can replace this with any content and adjust it as
                needed.}</p>
        </div>
    </li>
    <li class="d-flex">
        <div class="flex-shrink-0">
            <img src="${11:#}" alt="$12" width="$13">
        </div>
        <div class="flex-grow-1 ms-3">
            <h5 class="mt-0">${14:Media heading}</h5>
            <p>${15:This is some content from a media component. You can replace this with any content and adjust it as
                needed.}</p>
        </div>
    </li>
</ul>



