<div class="d-flex">
	<div class="flex-shrink-0">
		<img src="${1:#}" alt="$2" width="${3:300}" />
	</div>
	<div class="flex-grow-1 ms-3">
		<h5 class="mt-0">${4:Media heading}</h5>
		<p>
			${5:This is some content from a media component. You can replace
			this with any content and adjust it as needed.}
		</p>

		<div class="d-flex">
			<div class="flex-shrink-0">
				<img src="${6:#}" alt="$7" width="$8" />
			</div>
			<div class="flex-grow-1 ms-3">
				<h5 class="mt-0">${9:Media heading}</h5>
				<p>
					${10:This is some content from a media component. You can
					replace this with any content and adjust it as needed.}
				</p>
			</div>
		</div>
	</div>
</div>
