<div class="form-check form-check-inline">
	<input class="form-check-input" type="checkbox" id="$2" value="${3:option1}">
	<label class="form-check-label" for="$2">${1:first}</label>
  </div>
  <div class="form-check form-check-inline">
	<input class="form-check-input" type="checkbox" id="$5" value="${6:option2}">
	<label class="form-check-label" for="$5">${4:second}</label>
  </div>
  <div class="form-check form-check-inline">
	<input class="form-check-input" type="checkbox" id="$8" value="${9:option3}" ${10:disabled}>
	<label class="form-check-label" for="$8">${7:disabled}</label>
  </div>