<div class="container">
	<form>
		<div class="mb-3 row">
			<label for="${6:inputName}" class="${2|col-4,col-sm-4,col-md-4,col-lg-4,col-xl-4,col-xxl-4|}$3 col-form-label">${1:Name}</label>
			<div class="${4|col-8,col-sm-8,col-md-8,col-lg-8,col-xl-8,col-xxl-8|}$5">
				<input type="${7|text,password,email,number,submit,date,datetime,datetime-local,month,color,range,search,tel,time,url,week|}" class="form-control" name="${6:inputName}" id="${6:inputName}" placeholder="${8:Name}">
			</div>
		</div>
		<fieldset class="mb-3 row">
			<legend class="col-form-legend ${10|col-4,col-sm-4,col-md-4,col-lg-4,col-xl-4,col-xxl-4|}$11">${9:Group name}</legend>
			<div class="${12|col-8,col-sm-8,col-md-8,col-lg-8,col-xl-8,col-xxl-8|}$13">
				${14:you can use radio and checkboxes here}
			</div>
		</fieldset>
		<div class="mb-3 row">
			<div class="${15:offset-sm-4 col-sm-8}">
				<button type="${16:submit}" class="btn btn-primary">${17:Action}</button>
			</div>
		</div>
	</form>
</div>