<div class="form-check form-switch">
	<input
		class="form-check-input"
		type="checkbox"
		id="${1:flexSwitchCheckDefault}"
	/>
	<label class="form-check-label" for="${1:flexSwitchCheckDefault}"
		>${2:Default switch checkbox input}</label
	>
</div>
<div class="form-check form-switch">
	<input
		class="form-check-input"
		type="checkbox"
		id="${3:flexSwitchCheckChecked}"
		checked
	/>
	<label class="form-check-label" for="${3:flexSwitchCheckChecked}"
		>${4:Checked switch checkbox input}</label
	>
</div>
