<div class="row align-items-md-stretch">
	<div class="col-md-6">
		<div
			class="h-100 p-5 ${1:text-white} ${2|bg-primary,bg-secondary,bg-success,bg-danger,bg-warning,bg-info,bg-light,bg-dark|} ${3:border} rounded-3">
			<h2>${4:Change the background}</h2>
			<p>${5:Swap the background-color utility and add a `.text-*` color utility to mix up the jumbotron look. Then,
				mix and match with additional component themes and more.}</p>
			<button class="btn ${6|btn-outline-primary,btn-outline-secondary,btn-outline-success,btn-outline-danger,btn-outline-warning,btn-outline-info,btn-outline-light,btn-outline-dark,btn-outline-link|}" type="button">${7:Example button}</button>
		</div>
	</div>
	<div class="col-md-6">
		<div
			class="h-100 p-5 ${2|bg-primary,bg-secondary,bg-success,bg-danger,bg-warning,bg-info,bg-light,bg-dark|} ${3:border} rounded-3">
			<h2>${8:Add borders}</h2>
			<p>${9:Or, keep it light and add a border for some added definition to the boundaries of your content. Be sure
				to look under the hood at the source HTML here as we've adjusted the alignment and sizing of both
				column's content for equal-height.}</p>
			<button class="btn ${5|btn-outline-primary,btn-outline-secondary,btn-outline-success,btn-outline-danger,btn-outline-warning,btn-outline-info,btn-outline-light,btn-outline-dark,btn-outline-link|}" type="button">${7:Example button}</button>
		</div>
	</div>
</div>