<div id="${1:carouselId}" class="carousel slide" data-bs-ride="carousel">
	<ol class="carousel-indicators">
		<li data-bs-target="#${1:carouselId}" data-bs-slide-to="0" class="active" aria-current="true" aria-label="${3:First slide}"></li>
		<li data-bs-target="#${1:carouselId}" data-bs-slide-to="1" aria-label="${7:Second slide}"></li>
		<li data-bs-target="#${1:carouselId}" data-bs-slide-to="2" aria-label="${11:Third slide}"></li>
	</ol>
	<div class="carousel-inner" role="listbox">
		<div class="carousel-item active">
			<img src="${2:holder.js/900x500/auto/#777:#555/text:First slide}" class="w-100 d-block" alt="${3:First slide}">
			<div class="carousel-caption d-none d-md-block">
				<h3>${4:Title}</h3>
				<p>${5:Description}</p>
			</div>
		</div>
		<div class="carousel-item">
			<img src="${6:holder.js/900x500/auto/#666:#444/text:Second slide}" class="w-100 d-block" alt="${7:Second slide}">
			<div class="carousel-caption d-none d-md-block">
				<h3>${8:Title}</h3>
				<p>${9:Description}</p>
			</div>
		</div>
		<div class="carousel-item">
			<img src="${10:holder.js/900x500/auto/#666:#444/text:Third slide}" class="w-100 d-block" alt="${11:Third slide}">
			<div class="carousel-caption d-none d-md-block">
				<h3>${12:Title}</h3>
				<p>${13:Description}</p>
			</div>
		</div>
	</div>
	<button class="carousel-control-prev" type="button" data-bs-target="#${1:carouselId}" data-bs-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Previous</span>
	</button>
	<button class="carousel-control-next" type="button" data-bs-target="#${1:carouselId}" data-bs-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Next</span>
  	</button>
</div>